<div class="container">
  <div class="text-container">
    <h1>Cinema Ironhack</h1>
    <a class="checkMovies" href="/movies">Check the movies!</a>
  </div>
</div>


{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
